<div class="footer">
       <span>&copy; 2018 Acetracecms. All Rights Reserved | Powered by <a href="https://www.3dhubtech.com.ng" target="_blank">3DHub Technology</a></span>   </div>
        <!--//footer-->
  </div>
  