<div class="footer">
       <span>&copy; 2018 Acetracecms. All Rights Reserved | Design by <a href="https://3dhubtech.com.ng/" target="_blank">3DHub Technologies</a></span>   </div>
        <!--//footer-->
  </div>
  