<div class="footer">
       <span>&copy; 2018 Acetracecms. All Rights Reserved | Powered by <a href="https://www.acetracecms.com/about-us/" target="_blank">Acetrace-CMS Team</a></span>   </div>
        <!--//footer-->
  </div>
  