<% provide( :title, "Setup Lawfirm") %>

<%if current_user.admin? || current_user.sadmin?%>


       <div class="login-page ">
  

<h2 class="title1"><img src="../assets/img/actionaid-logo.png" style="float:left;"/>New Lawfirm Form</h2>

<%= render 'form', lawfirm: @lawfirm %>

</div>
<%else%>

<h5>Your are not authorized  to view this page</h5>

 <%end%>



   
