  
  <% provide( :title, "Update Case") %>


<div class="col-md-12 panel-grids">
</div>
 
            <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title"> Update Case </h3> </div> <div class="panel-body">

                       
<%= render 'form', mycase: @mycase %>

