  <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-text">
                 
<% if user_signed_in? %> 
           
          <%if current_user.avatars?%>
          
        <%= image_tag current_user.avatars_url, :class => "profile-img"  %>
        <%else%>
          <img class="profile-img" src="../assets/img/avatar/default.png" alt="..."></span>
        <%end%>
  
                    
                        <h5><%= current_user.first_name %> <%= current_user.last_name %></h5><%end%>
       
                        
                     <%= link_to destroy_user_session_path, method: :delete , class:'dropdown-item' do%><i class="fa fa-power-off"></i>Logout <%end%>
                    </div>


          </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        
                        <li> <a class="has-arrow waves-effect waves-dark" href="/"><i class="mdi mdi-widgets"></i><span class="hide-menu">Dashboard </span></a>
                        </li>

 <li> <a class="has-arrow waves-effect waves-dark" href="/adminassistances"><i class="mdi mdi-widgets"></i><span class="hide-menu">Admin Assistance </span></a>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="/lawfirm-legalcases-repository"><i class="mdi mdi-widgets"></i><span class="hide-menu">Case Files</span></a>
                        </li>

               

 <li>
            <a class="has-arrow waves-effect waves-dark" href="/lawfirm-users-repository">
              <i class="mdi mdi-table"></i>
              <span class="hide-menu">Lawfirm Users</span>
            </a>
          </li>
          <li>
            <a class="has-arrow waves-effect waves-dark" href="/lawfirm-attorneys-repository">
              <i class="mdi mdi-file"></i>
              <span class="hide-menu">Lawfirm Attorneys</span>
            </a>
          </li>
          <li>

<a class="has-arrow waves-effect waves-dark" href="/payment_history">
              <i class="mdi mdi-table"></i>
              <span class="hide-menu">Payment History</span>
            </a>
</li>

            <li> <a class="has-arrow waves-effect waves-dark" href="/lawfirm-clients-repository"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Lawfirm Clients</span></a>
                        </li>



                           <li> <a class="has-arrow waves-effect waves-dark" href="/transactions/upgrade"><i class="mdi mdi-file-file"></i><span class="hide-menu">Upgrade Subscription</span></a>
                        </li>
        
            <li>
            <a class="has-arrow waves-effect waves-dark" href="/PFPM02FLORDO2WZF4QU47NORRUUP6WSU80K7K7VMRZKYP5JIDZAWLXP5KBNIMPV4E0QYWJSQUB5-acetracecms-forum-repo">
              <i  class="icon fa fa-comment"></i>
              <span class="hide-menu">Forum</span>
            </a>
          </li>




                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>







