<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style type="text/css">
h1 {
font-family: "Gill Sans";
font-size: 24pt;
font-weight: lighter;
font-variant: small-caps;
}
</style>
  </head>
  <body onload='number_pages'>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>